<div class="jumbotron">
  <div class="container">
    <h1 id="titulo 1"> Titulo </h1>
    <a href="http://en1mes.com">En un mes</a>
    <a href="http://en1mes.com" class="btn btn-default ">
      En un mes otra pagina
    <span class="glyphicon glyphicon-leaf" style="color: green"></span>
    </a>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="page-header">
      <h2 style="display: inline">Example page</h2>
      <span class="label label-default">New</span>
    </div>
    <p> El Ford Mustang es un muscle car de la caFalcon (Estados Unidos)|Ford Falcon]],
    un vehículo del segmento D.1 Fue introducido al mercado el 17 de abril de 1964.
    2 El Mustang de 1965 fue el modelo más exitoso desde el Ford A.,
    3 así mismo Mustang es la tercera saga de Ford más antigua, cuyos modelos han sufrido
    numerosas transformaciones hasta llegar a la actual sexta generación.
  <p>
    El Mustang dio origen a una nueva clase de vehículo estadounidense denominado
    «pony car» — un coupé deportivo con largo capó delantero y corta parte trasera.
    —4 Ha tenido entre sus máximos rivales al Chevrolet Camaro de GM,5 el Javelin de
    AMC,6 el Dodge Challenger, y el renovado Plymouth Barracuda de Chrysler.7
    También ha inspirado a modelos como el Toyota Celica y Ford Capri, que fueron
    importados posteriormente a Estados Unidos.
  </p>
  </div>
  <div class="col-md-4">
    <div class="page-header">
      <h2 style="display: inline">Example page</h2>
      <span class="label label-default">New</span>
    </div>
    <p> El Ford Mustang es un muscle car de la caFalcon (Estados Unidos)|Ford Falcon]],
      un vehículo del segmento D.1 Fue introducido al mercado el 17 de abril de 1964.
      2 El Mustang de 1965 fue el modelo más exitoso desde el Ford A.,
      3 así mismo Mustang es la tercera saga de Ford más antigua, cuyos modelos han sufrido
      numerosas transformaciones hasta llegar a la actual sexta generación.
    <p>
      El Mustang dio origen a una nueva clase de vehículo estadounidense denominado
      «pony car» — un coupé deportivo con largo capó delantero y corta parte trasera.
      —4 Ha tenido entre sus máximos rivales al Chevrolet Camaro de GM,5 el Javelin de
      AMC,6 el Dodge Challenger, y el renovado Plymouth Barracuda de Chrysler.7
      También ha inspirado a modelos como el Toyota Celica y Ford Capri, que fueron
      importados posteriormente a Estados Unidos.
    </p>
  </div>


  <div class="col-md-4">
    <div class="page-header">
      <h2 style="display: inline">Example page</h2>
      <span class="label label-default">New</span>
    </div>
    <p> El Ford Mustang es un muscle car de la caFalcon (Estados Unidos)|Ford Falcon]],
      un vehículo del segmento D.1 Fue introducido al mercado el 17 de abril de 1964.
      2 El Mustang de 1965 fue el modelo más exitoso desde el Ford A.,
      3 así mismo Mustang es la tercera saga de Ford más antigua, cuyos modelos han sufrido
      numerosas transformaciones hasta llegar a la actual sexta generación.
    <p>
      El Mustang dio origen a una nueva clase de vehículo estadounidense denominado
      «pony car» — un coupé deportivo con largo capó delantero y corta parte trasera.
      —4 Ha tenido entre sus máximos rivales al Chevrolet Camaro de GM,5 el Javelin de
      AMC,6 el Dodge Challenger, y el renovado Plymouth Barracuda de Chrysler.7
      También ha inspirado a modelos como el Toyota Celica y Ford Capri, que fueron
      importados posteriormente a Estados Unidos.
    </p>
  </div>
</div>

<hr>
<br>
<a href="http://en1mes.com">
  <img src="http://imganuncios.mitula.net/ford_mustang_fast_back_v8_289_automatico_a%C3%B1o_1967_ford_a_mxn_285000_en_preciolandia_mexico_8m7wto_1760130445811572122.jpg"
  class="img-responsive">
</a>
<ul>
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>
</div>